beautifulsoup4==4.15.0
biopython==1.83
chembl_webresource_client==0.10.9
chemprop==2.3.0
joblib==1.4.2
lightning==2.6.5
mlflow==3.15.1
numpy==2.5.1
pandas==3.0.5
papyrus_scripts==2.0.0.post1
papyrus_structure_pipeline==1.0.0
prodec==1.0.2.post5
PuLP==2.9.0
pytorch_lightning==2.6.5
rdkit==2024.3.5
Requests==2.34.2
scikit_learn==1.4.0
scipy==1.18.0
torch==2.5.0
tqdm==4.66.4
